---
import Layout from '../layouts/Layout.astro';
import BAControlBoard from '../components/BAControlBoard.jsx';
import '../styles/global.css';
---

<Layout>
  <body class="bg-gray-50 text-gray-900">
    <BAControlBoard client:load />
  </body>
</Layout>
